<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New recipe</title>
</head>
<body>
    <h1>Create new recipe</h1>

<form action="/recipes" method="POST">
   
    <label for="name">Name</label>
    <input type="text" name="name" id="name">

    <label for="instructions">Instructions</label>
    <input type="text" name="instructions" id="instructions">

    <button type="submit">create recipe</button>
   
    </form>
</body>
</html>